<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConvertTemperature" />
                <binding name="CalculatorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63788/ConvertTemperature.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConvertTemperature"
                contract="ConvertMyTemp.IConvertTemperature" name="BasicHttpBinding_IConvertTemperature" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="Calc.CalculatorSoap" name="CalculatorSoap" />
        </client>
    </system.serviceModel>
</configuration>